* {
  margin: 0;
  padding: 0;
}
html {
  padding: 0;
  margin: 0 auto;
  font-weight: 400;
}
body {
  margin: 0 auto;
  padding: 0;
  background: var(--bg2);
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
button:focus,
input:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button:focus-visible,
input:focus-visible {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-toggler:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
img {
  width: 100%;
  display: block;
  height: auto;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: transparent;
}
a,
button {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
._header_finance_wrapper {
  margin: 20px 0;
}
._header_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-dark .navbar-brand {
  padding: 0;
}
._logo_img {
  max-width: 200px;
}
._header_finance_nav_ul {
  margin: 0 0 0 auto;
  align-items: center;
}
._header_finance_nav_li {
  margin: 0 32px 0 0;
}
._header_finance_nav_li:last-child {
  margin: 0;
}
._header_finance_nav_itm {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--color2) !important;
  display: inline-block;
  transition: 0.2s all ease-in;
  position: relative;
  z-index: 10;
}
._active,
._header_finance_nav_itm:hover {
  color: var(--color3) !important;
}
._header_finance_nav_itm::before {
  position: absolute;
  content: "";
  background: var(--bg3);
  border-radius: 13px;
  width: 0;
  height: 3px;
  bottom: -26px !important;
  left: 18px !important;
  z-index: -1;
  transition: 0.2s all ease-in;
}
._active::before,
._header_finance_nav_itm:hover::before {
  width: 24px;
}
._header_finance_r8_nav_ul {
  align-items: center;
  margin: 0 0 0 59px;
}
._login {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease;
  background: var(--bg3);
  border-radius: 10px;
  width: 122px;
  height: 47px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--color1) !important;
}
._login:hover {
  background: var(--bg4);
}
._header_finance_cont_wrap {
  position: relative;
  margin: 50px 0 90px;
}
._header_finance_cont_wrap:before {
  position: absolute;
  background: var(--bg11);
  width: 1296px;
  height: 1px;
  top: -46px;
  left: 110px !important;
}
._header_finance_lft_wrap {
  margin: 32px 0 0;
}
._header_finance_lft_t {
  font-family: Oxygen;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  color: var(--color2);
  margin-bottom: 40px;
}
._header_finance_lft_t_sp {
  color: var(--bg-red);
}
._header_finance_lft_btns {
  display: flex;
  align-items: center;
  margin-bottom: 58px;
}
._header_finance_lft_btn1 {
  margin: 0 45px 0 0;
}
._start_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease-in;
  background: rgba(255, 172, 4, 0.92);
  border: 1px solid transparent;
  box-shadow: 0 42px 20px -32px #fff;
  border-radius: 12px;
  width: 170px;
  height: 60px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--color3) !important;
}
._start_btn:hover {
  border-color: rgba(255, 172, 4, 0.92);
  background: 0 0;
}
._header_finance_cont_link {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--color2) !important;
  display: initial;
  transition: 0.2s all ease-in-out;
  position: relative;
}
._header_finance_cont_link_sp {
  color: var(--bg3);
  transition: 0.2s all ease-in-out;
}
._header_finance_cont_link::before {
  position: absolute;
  content: "";
  border: 0.5px dashed var(--color5);
  bottom: -16%;
  left: 0;
  width: 145px;
  height: 1px;
  transition: 0.2s all ease-in-out;
}
._header_finance_r8_wrap {
  z-index: 10;
}
._header_finance_r8_wrap::before {
  position: absolute;
  content: "";
  background-image: url(https://expense-tracker-two-sigma.vercel.app/assets/img/header-r8-all-shape.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 750px;
  height: 740px;
  z-index: -1;
  top: -110px;
  right: 60px;
}
._header_finance_r8_img_tag {
  max-width: 900px;
  height: 420px;
  margin: 0 0 0 190px;
}
@media (max-width: 1399px) {
  ._header_finance_r8_img_tag {
    margin: 0 0 0 170px;
  }
}
@media only screen and (max-width: 1199px) {
  ._header_finance_nav_itm {
    font-size: 18px;
  }
  ._header_finance_lft_btn1 {
    margin: 0 30px 0 0;
  }
  ._header_finance_cont_link {
    font-size: 14px;
  }
  ._header_finance_lft_t {
    font-size: 42px;
  }
  ._start_btn {
    width: 147px;
    height: 58px;
    font-size: 14px;
  }
  ._header_finance_cont_link::before {
    width: 130px;
  }
  ._header_finance_cont_wrap:before {
    width: 938px;
  }
  ._header_finance_r8_wrap::before {
    top: -100px;
    right: 0;
  }
}
@media only screen and (max-width: 991px) {
  ._header_finance_cont_wrap {
    margin: 0 0 50px;
  }
  ._header_finance_cont_wrap:before {
    display: none;
  }
  .navbar-dark .navbar-toggler {
    border-color: transparent;
  }
  .navbar-dark .navbar-toggler-icon {
    background-image: url(https://expense-tracker-two-sigma.vercel.app/assets/img/header-r8-menu-ic.svg);
    max-width: 18px;
  }
  ._header_finance_nav_ul {
    align-items: initial;
    text-align: center;
    margin: auto;
  }
  ._header_finance_nav_li {
    margin: 0 0 10px;
  }
  ._header_finance_nav_itm::before {
    bottom: -4px !important;
    left: 15px !important;
  }
  ._header_finance_r8_nav_ul {
    margin: 10px 0 10px;
  }
  ._header_finance_lft_wrap {
    margin: 22px 0 0;
    text-align: center;
  }
  ._header_finance_lft_t {
    font-size: 34px;
  }
  ._header_finance_lft_btns {
    margin-bottom: 50px;
    justify-content: center;
  }
  ._start_btn {
    width: 130px;
    height: 52px;
  }
  ._header_finance_r8_img_tag {
    margin: auto;
  }
  ._header_finance_r8_wrap::before {
    top: 260px;
    width: 630px;
    height: 620px;
    right: 230px;
  }
}
@media only screen and (max-width: 767px) {
  ._header_finance_lft_t {
    font-size: 32px;
  }
  ._header_finance_r8_wrap::before {
    right: 110px;
  }
}
@media only screen and (max-width: 575px) {
  ._header_finance_r8_wrap::before {
    right: 40px;
    width: 575px;
    height: 570px;
  }
}
@media only screen and (max-width: 420px) {
  ._header_finance_nav_itm {
    font-size: 16px;
  }
  ._login {
    width: 110px;
    height: 44px;
    font-size: 17px;
  }
  ._header_finance_lft_t {
    font-size: 25px;
  }
  ._header_finance_r8_wrap::before {
    right: 20px;
    width: 480px;
    height: 480px;
    top: 310px;
  }
  ._all_card_finance_wrapper {
    margin: 0 0 30px;
  }
}
@media only screen and (max-width: 375px) {
  ._header_finance_lft_t {
    font-size: 21px;
  }
  ._start_btn {
    width: 110px;
    height: 49px;
    font-size: 13px;
  }
  ._header_finance_cont_link {
    font-size: 10px;
  }
  ._header_finance_cont_link::before {
    width: 137px;
  }
  ._header_finance_r8_wrap::before {
    right: 0;
    width: 430px;
    height: 430px;
    top: 330px;
  }
}
._all_card_finance_wrapper {
  margin: 0 0 140px;
}
._all_card_finance_wrap {
  position: relative;
}
._all_card_finance_wrap::before {
  position: absolute;
  content: "";
  background-image: url(https://expense-tracker-two-sigma.vercel.app/assets/img/all-crd-dash-line01.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 328px;
  height: 61px;
  top: 14%;
  left: 24%;
}
._all_card_finance_wrap::after {
  position: absolute;
  content: "";
  background-image: url(https://expense-tracker-two-sigma.vercel.app/assets/img/all-crd-dash-line02.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 340px;
  height: 46px;
  top: -2%;
  right: 24%;
}
._all_card_finance_crd {
  margin: 30px 0;
}
._all_card_finance_crd_ic1,
._all_card_finance_crd_ic2,
._all_card_finance_crd_ic3 {
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto 48px;
}
._all_card_finance_crd_ic1 {
  background: var(--bg5);
}
._all_card_finance_crd_ic2 {
  background: var(--color4);
}
._all_card_finance_crd_ic3 {
  background: var(--bg3);
}
._all_card_finance_crd_ic {
  max-width: 34px;
}
._all_card_finance_crd_cont_t {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--color3);
  margin-bottom: 12px;
}
._all_card_finance_crd_cont_p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: var(--color2);
  max-width: 67%;
  margin: auto;
}
@media (max-width: 1399px) {
  ._all_card_finance_wrap::before {
    width: 305px;
    left: 25%;
  }
  ._all_card_finance_wrap::after {
    width: 300px;
    height: 46px;
    top: 5%;
    right: 25%;
  }
  ._all_card_finance_crd_cont_p {
    max-width: 78%;
  }
}
@media only screen and (max-width: 1199px) {
  ._all_card_finance_crd_cont_p {
    max-width: 95%;
  }
  ._all_card_finance_wrap::before {
    width: 237px;
    height: 46px;
    top: 18%;
    left: 26%;
  }
  ._all_card_finance_wrap::after {
    width: 235px;
    right: 26%;
  }
  ._all_card_finance_wrap::after {
    width: 238px;
    height: 40px;
    top: 11%;
    right: 26%;
  }
}
@media only screen and (max-width: 991px) {
  ._all_card_finance_wrapper {
    margin: 0 0 80px;
  }
  ._all_card_finance_wrap::after,
  ._all_card_finance_wrap::before {
    display: none;
  }
  ._all_card_finance_crd_cont_p {
    max-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  ._all_card_finance_crd_ic1,
  ._all_card_finance_crd_ic2,
  ._all_card_finance_crd_ic3 {
    margin: 0 auto 35px;
  }
}
@media only screen and (max-width: 575px) {
  ._all_card_finance_wrapper {
    margin: 0 0 60px;
  }
}
@media only screen and (max-width: 420px) {
  ._all_card_finance_crd_cont_t {
    font-size: 18px;
  }
  ._all_card_finance_crd_cont_p {
    font-size: 15px;
  }
}
._service_finance_wrapper {
  margin: 60px 63px;
  background: var(--bg6);
  border-radius: 47px;
  padding: 80px 68px 120px 100px;
}
._service_finance_cont_t {
  font-family: Oxygen;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  color: var(--color3);
  margin-bottom: 13px;
}
._service_finance_cont_p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: var(--color2);
  margin: 0 auto 108px;
}
._service_finance_lft_img {
  max-width: 445px;
}
._service_finance_r8_wrap1 {
  display: flex;
  align-items: center;
  position: relative;
}
._service_finance_r8_wrap1::before {
  position: absolute;
  content: "";
  background-image: url(https://expense-tracker-two-sigma.vercel.app/assets/img/service-r8-wrap1-line.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 2px;
  bottom: 0;
  left: 0;
}
._service_finance_r8_wrap1_cont_t {
  font-family: Poppins;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.4;
  color: var(--color3);
  margin-bottom: 10px;
  max-width: 77%;
}
._service_finance_r8_wrap1_cont_p {
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  color: var(--color2);
  max-width: 56%;
  margin-bottom: 18px;
}
._service_finance_r8_wrap1_cont_p_sp {
  color: var(--bg3);
}
._service_finance_r8_wrap1_img {
  display: flex;
  align-items: center;
  flex: 0 0 160px;
}
._service_finance_r8_wrap1_img_tag {
  max-width: 177px;
}
._service_finance_bottom_wrap {
  position: relative;
  margin: 57px 0 0;
}
._service_finance_bottom_wrap::before {
  position: absolute;
  content: "";
  border: 1px dashed var(--color5);
  bottom: 50%;
  left: 35%;
  width: 300px;
  height: 1px;
  transform: rotate(90deg);
}
._service_finance_lft_wrap2 {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 30px 0 0;
}
._service_finance_lft_wrap2::before {
  position: absolute;
  content: "";
  background-image: url(https://expense-tracker-two-sigma.vercel.app/assets/img/service-r8-wrap1-line.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 390px;
  height: 2px;
  bottom: 8px;
  left: 0;
}
._service_finance_lft_wrap2_cont_t {
  font-family: Poppins;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.4;
  color: var(--color3);
  margin-bottom: 8px;
  max-width: 78%;
}
._service_finance_lft_wrap2_cont_p {
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  color: var(--color2);
  max-width: 73%;
  margin-bottom: 32px;
}
._service_finance_lft_wrap2_cont_p_sp {
  color: var(--bg3);
}
._service_finance_lft_wrap2_img {
  display: flex;
  align-items: center;
  flex: 0 0 160px;
}
._service_finance_lft_wrap2_img_tag {
  max-width: 163px;
}
._service_finance_r8_wrap2_img {
  max-width: 538px;
}
@media (max-width: 1399px) {
  ._service_finance_cont_t {
    font-size: 45px;
  }
  ._service_finance_r8_wrap1_cont_t {
    max-width: 87%;
  }
  ._service_finance_r8_wrap1_cont_p {
    max-width: 64%;
  }
  ._service_finance_lft_wrap2_cont_t {
    max-width: 90%;
  }
  ._service_finance_lft_wrap2_cont_p {
    max-width: 89%;
  }
}
@media only screen and (max-width: 1199px) {
  ._service_finance_cont_t {
    font-size: 42px;
  }
  ._service_finance_r8_wrap2_img {
    max-width: 370px;
    margin-left: auto;
  }
  ._service_finance_lft_wrap2_img,
  ._service_finance_r8_wrap1_img {
    flex: 0 0 130px;
  }
  ._service_finance_lft_wrap2_cont_t {
    max-width: 100%;
    font-size: 20px;
  }
  ._service_finance_lft_wrap2_cont_p {
    max-width: 100%;
  }
  ._service_finance_lft_wrap2::before {
    width: 250px;
  }
  ._service_finance_bottom_wrap::before {
    bottom: 50%;
    left: 30%;
    width: 240px;
  }
  ._service_finance_r8_wrap1_cont_t {
    max-width: 100%;
    font-size: 20px;
  }
  ._service_finance_r8_wrap1_cont_p {
    max-width: 100%;
  }
  ._service_finance_lft_img {
    max-width: 350px;
  }
  ._service_finance_r8_wrap1 {
    margin: 0 0 0 15px;
  }
  ._service_finance_r8_wrap1::before {
    width: 270px;
  }
}
@media only screen and (max-width: 991px) {
  ._service_finance_wrapper {
    margin: 0 63px;
    padding: 70px 65px;
  }
  ._service_finance_cont_t {
    font-size: 36px;
  }
  ._service_finance_cont_p {
    font-size: 17px;
    margin: 0 auto 70px;
  }
  ._service_finance_bottom_wrap::before {
    display: none;
  }
  ._service_finance_lft_img {
    margin: 0 auto 40px;
  }
  ._service_finance_r8_wrap2_img {
    margin: 40px auto 0;
  }
  ._service_finance_r8_wrap1 {
    flex-direction: column;
    margin: 0;
  }
  ._service_finance_r8_wrap1_cont {
    margin: 0 0 40px;
  }
  ._service_finance_lft_wrap2 {
    margin: 0;
    flex-direction: column;
  }
  ._service_finance_r8_wrap1::before {
    bottom: 70%;
    left: 20%;
    width: 400px;
  }
  ._service_finance_r8_wrap1_cont_p {
    text-align: center;
  }
  ._service_finance_lft_wrap2_cont_t {
    text-align: center;
  }
  ._service_finance_lft_wrap2::before {
    bottom: 70%;
    left: 23%;
    width: 370px;
  }
}
@media only screen and (max-width: 767px) {
  ._service_finance_cont_t {
    font-size: 32px;
  }
  ._service_finance_r8_wrap1::before {
    left: 0;
    width: 100%;
  }
  ._service_finance_lft_wrap2::before {
    left: 0;
    width: 100%;
  }
  ._service_finance_lft_wrap2_cont {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 575px) {
  ._service_finance_wrapper {
    margin: 0 16px;
    padding: 60px 40px;
  }
  ._service_finance_cont_t {
    font-size: 29px;
  }
  ._service_finance_cont_p {
    font-size: 15px;
    margin: 0 auto 50px;
  }
  ._service_finance_lft_wrap2_cont_p {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 420px) {
  ._service_finance_wrapper {
    padding: 60px 0;
  }
  ._service_finance_cont_t {
    font-size: 24px;
  }
  ._service_finance_cont_p {
    font-size: 14px;
    margin: 0 auto 40px;
  }
  ._service_finance_r8_wrap1_cont {
    text-align: center;
  }
  ._service_finance_r8_wrap1::before {
    bottom: 60%;
  }
  ._service_finance_lft_wrap2_cont_p {
    text-align: center;
  }
}
@media only screen and (max-width: 375px) {
  ._service_finance_cont_t {
    font-size: 21px;
  }
  ._service_finance_r8_wrap1_cont_t {
    font-size: 17px;
  }
  ._service_finance_lft_wrap2_cont_t {
    font-size: 19px;
  }
  ._service_finance_lft_wrap2::before {
    bottom: 60%;
  }
}
._about_finance_wrapper {
  margin: 80px 0;
  position: relative;
  z-index: 10;
}
._about_finance_wrapper::before {
  position: absolute;
  content: "";
  background-image: url(https://expense-tracker-two-sigma.vercel.app/assets/img/about-before-pentool-shape.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 700px;
  height: 720px;
  top: 14%;
  left: 2%;
  z-index: -1;
}
._about_finance_wrapper::after {
  position: absolute;
  content: "";
  background-image: url(https://expense-tracker-two-sigma.vercel.app/assets/img/about-after-pentool-shape.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 510px;
  height: 520px;
  top: 14%;
  right: 3%;
  z-index: -1;
}
._about_finance_cont_t {
  font-family: Oxygen;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
  color: var(--color3);
  margin-bottom: 18px;
}
._about_finance_cont_t_sp {
  color: var(--color8);
}
._about_finance_cont_p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--color2);
  max-width: 44%;
  margin: 0 auto 88px;
}
._about_finance_bg_wrap {
  background: linear-gradient(
    115.98deg,
    #0ec37d 2.57%,
    rgba(100, 231, 249, 0.76) 110.72%
  );
  border-radius: 10px;
  padding: 100px 0 107px;
}
._about_finance_img_wrap {
  position: relative;
}
._about_finance_img {
  max-width: 322px;
  margin: auto;
}
._about_finance_img_card01 {
  max-width: 219px;
  margin: auto;
  position: absolute;
  top: 60px;
  left: 325px;
}
._about_finance_img_card03 {
  max-width: 277px;
  margin: auto;
  position: absolute;
  top: 73px;
  right: 252px;
}
@media (max-width: 1399px) {
  ._about_finance_cont_t {
    font-size: 45px;
  }
  ._about_finance_cont_p {
    max-width: 51%;
  }
  ._about_finance_img_card01 {
    left: 21%;
  }
  ._about_finance_img_card03 {
    right: 15%;
  }
}
@media only screen and (max-width: 1199px) {
  ._about_finance_cont_p {
    max-width: 60%;
  }
  ._about_finance_img_card01 {
    left: 15%;
  }
  ._about_finance_img_card03 {
    right: 8%;
  }
  ._about_finance_wrapper::after {
    width: 490px;
    height: 500px;
    top: 17%;
    right: 3%;
  }
}
@media only screen and (max-width: 991px) {
  ._about_finance_wrapper {
    margin: 60px 0;
  }
  ._about_finance_wrapper::after,
  ._about_finance_wrapper::before {
    display: none;
  }
  ._about_finance_cont_t {
    font-size: 38px;
  }
  ._about_finance_cont_p {
    max-width: 80%;
    margin: 0 auto 50px;
  }
  ._about_finance_img_card01 {
    left: 6%;
    max-width: 200px;
  }
  ._about_finance_img_card03 {
    right: 2%;
    max-width: 230px;
  }
}
@media only screen and (max-width: 767px) {
  ._about_finance_bg_wrap {
    padding: 90px 0;
  }
  ._about_finance_cont_p {
    max-width: 100%;
    font-size: 16px;
  }
  ._about_finance_img_card03 {
    right: 4%;
    max-width: 190px;
    top: 65%;
  }
  ._about_finance_img_card01 {
    max-width: 130px;
    left: 4%;
  }
}
@media only screen and (max-width: 575px) {
  ._about_finance_cont_t {
    font-size: 30px;
  }
  ._about_finance_img {
    max-width: 300px;
  }
}
@media only screen and (max-width: 420px) {
  ._about_finance_cont_t {
    font-size: 26px;
  }
  ._about_finance_cont_p {
    max-width: 100%;
    font-size: 14px;
  }
  ._about_finance_img {
    max-width: 270px;
  }
  ._about_finance_img_card01 {
    max-width: 100px;
  }
  ._about_finance_img_card03 {
    max-width: 140px;
  }
}
._service01_finance_wrapper {
  background: var(--bg6);
  border-radius: 47px;
  margin: 120px 63px;
  padding: 55px 0 162px;
}
._service01_finance_cont_p {
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--bg3);
}
._service01_finance_cont_p_sp {
  margin: 0 0 0 9px;
}
._service01_finance_cont_t {
  font-family: Oxygen;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  color: var(--bg4);
  margin-bottom: 42px;
}
._service01_finance_crd_wrap {
  position: relative;
  margin: 20px 0 0;
}
._service01_finance_crd_wrap::before {
  position: absolute;
  content: "";
  background-image: url(https://expense-tracker-two-sigma.vercel.app/assets/img/service-card-vector1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 328px;
  height: 61px;
  top: 14%;
  left: 18%;
}
._service01_finance_crd_wrap::after {
  position: absolute;
  content: "";
  background-image: url(https://expense-tracker-two-sigma.vercel.app/assets/img/service-card-vector2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 340px;
  height: 46px;
  top: -10%;
  right: 20%;
}
._service01_finance_crd {
  margin: 20px 0;
}
._service01_finance_crd_ic1 {
  max-width: 49px;
  margin: 0 auto 19px;
}
._service01_finance_crd_cont_t {
  font-family: Poppins;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
  color: var(--color9);
  margin-bottom: 14px;
}
._service01_finance_crd_cont_p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: var(--color10);
  max-width: 71%;
  margin: auto;
}
@media (max-width: 1399px) {
  ._service01_finance_crd_cont_p {
    max-width: 83%;
  }
  ._service01_finance_crd_cont_t {
    font-size: 24px;
  }
  ._service01_finance_crd_wrap::after {
    width: 310px;
  }
}
@media only screen and (max-width: 1199px) {
  ._service01_finance_cont_t {
    font-size: 40px;
  }
  ._service01_finance_crd_cont_p {
    max-width: 100%;
    font-size: 16px;
  }
  ._service01_finance_crd_wrap::after {
    width: 247px;
  }
  ._service01_finance_crd_wrap::before {
    width: 265px;
    height: 54px;
    left: 19%;
  }
}
@media only screen and (max-width: 991px) {
  ._service01_finance_wrapper {
    padding: 70px 0;
  }
  ._service01_finance_crd_wrap::after,
  ._service01_finance_crd_wrap::before {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  ._service01_finance_wrapper {
    margin: 90px 63px;
  }
  ._service01_finance_cont_t {
    font-size: 38px;
  }
}
@media only screen and (max-width: 575px) {
  ._service01_finance_wrapper {
    margin: 90px 16px;
  }
  ._service01_finance_cont_t {
    font-size: 33px;
  }
}
@media only screen and (max-width: 420px) {
  ._service01_finance_cont_t {
    font-size: 28px;
    margin-bottom: 25px;
  }
  ._service01_finance_crd_cont_t {
    font-size: 22px;
  }
}
@media only screen and (max-width: 375px) {
  ._service01_finance_cont_t {
    font-size: 26px;
    margin-bottom: 20px;
  }
}
.income-expense {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.income-expense > div {
  flex: 1;
  text-align: center;
}
#balance,
.expense,
.income {
  font-size: 20px;
  letter-spacing: 2px;
  margin: 5px 0;
  font-weight: bolder;
}
.income {
  color: green;
}
.expense {
  color: #c34234d3;
}
#balance {
  color: #485aff;
}
.bg-card {
  background-color: var(--bg1);
  margin: 0 2px;
  border-radius: 1rem;
  padding: 0.5rem;
}
._contact_finance_wrapper {
  position: relative;
  margin: 40px 0 100px;
  padding: 245px 0 210px;
  z-index: 10;
  overflow: hidden;
}
._contact_finance_wrapper::before {
  position: absolute;
  content: "";
  background-image: url(https://expense-tracker-two-sigma.vercel.app/assets/img/contact-before-pentool-shape.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 315px;
  height: 330px;
  top: 0;
  left: 6%;
  z-index: -2;
}
._contact_finance_wrapper::after {
  position: absolute;
  content: "";
  background-image: url(https://expense-tracker-two-sigma.vercel.app/assets/img/contact-after-pentool-shape.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 236px;
  height: 246px;
  bottom: -2%;
  right: 8%;
  z-index: -2;
}
._contact_finance_lft_wrap {
  margin-top: 150px;
}
._contact_finance_r8_wrap {
  position: relative;
}
._contact_finance_r8_wrap::before {
  position: absolute;
  content: "";
  background-image: url(https://expense-tracker-two-sigma.vercel.app/assets/img/contact-bottom-active-shape.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 42px;
  height: 18px;
  bottom: -20%;
  left: 27%;
}
._contact_finance_r8_message_card {
  background: var(--bg6);
  border-radius: 20px;
  padding: 60px 35px 67px;
}
._contact_finance_r8_message_card_t {
  font-family: Poppins;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.2;
  text-align: left;
  color: var(--color13);
  margin-bottom: 35px;
}
._contact_finance_r8_message_form_box {
  margin-bottom: 13px;
}
._contact_finance_r8_message_form_box_inpt {
  background: var(--bg8);
  border-radius: 9px;
  width: 100%;
  height: 40px;
  border: 0;
  color: var(--color1);
  padding: 7px 10px 7px 21px;
  transition: 0.2s all ease-in-out;
}
._contact_finance_r8_message_form_box_inpt::placeholder {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color14);
  transition: 0.2s all ease-in-out;
}
._contact_finance_r8_message_form_box_btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._contact_finance_r8_message_form_box_btn1 {
  background: rgba(255, 172, 4, 0.92);
  box-shadow: 0 23px 20px -22px rgba(197, 158, 61, 0.25);
  border-radius: 10px;
  width: 165px;
  height: 55px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--color15) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease;
}
._contact_finance_r8_message_form_box_btn1:hover {
  box-shadow: none;
}
@media only screen and (max-width: 991px) {
  ._contact_finance_lft_wrap {
    margin-top: 0;
    margin-bottom: 40px;
  }
  ._contact_finance_r8_wrap::before {
    bottom: -12%;
    left: 47%;
  }
}
@media only screen and (max-width: 767px) {
  ._contact_finance_r8_message_form_box_btn1 {
    width: 160px;
    height: 52px;
  }
}
@media only screen and (max-width: 575px) {
  ._contact_finance_r8_message_card_t {
    font-size: 23px;
    margin-bottom: 28px;
  }
  ._contact_finance_r8_wrap::before {
    left: 27%;
  }
}
@media only screen and (max-width: 420px) {
  ._contact_finance_r8_message_form_box_btn1 {
    width: 150px;
    height: 50px;
  }
  ._contact_finance_r8_message_card_t {
    font-size: 21px;
    margin-bottom: 26px;
  }
  ._contact_finance_wrapper::before {
    width: 245px;
    height: 252px;
  }
  ._contact_finance_wrapper::after {
    width: 200px;
    height: 210px;
  }
}
._footer_finance_wrapper {
  margin: 0 0 100px;
  overflow: hidden;
}
._footer_finance_cont_wrap {
  text-align: center;
  margin: 0 0 200px;
  position: relative;
  z-index: 10;
}
._footer_finance_cont_wrap::before {
  position: absolute;
  content: "";
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('https://expense-tracker-two-sigma.vercel.app/assets/css/    "../img/footer-top-shape.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 1135px;
  height: 663px;
  z-index: -1;
}
._footer_finance_cont_t {
  font-family: Oxygen;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  text-align: center;
  color: var(--color16);
  margin: 0 auto 20px;
  max-width: 31%;
}
._footer_finance_cont_p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--color17);
  max-width: 35%;
  margin: 0 auto 52px;
}
._footer_finance_cont_btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
._footer_finance_cont_btn2 {
  margin: 0 0 0 42px;
}
._footer_finance_bottom_wrap {
  z-index: 10;
  padding: 70px 0 0;
}
._footer_finance_logo {
  max-width: 102px;
  margin-bottom: 11px;
}
._footer_finance_logo_p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: var(--color18);
  max-width: 61%;
  margin-bottom: 29px;
}
@media (max-width: 1399px) {
  ._footer_finance_cont_t {
    max-width: 36%;
  }
  ._footer_finance_cont_p {
    max-width: 40%;
  }
}
@media only screen and (max-width: 1199px) {
  ._footer_finance_cont_t {
    max-width: 44%;
  }
  ._footer_finance_cont_wrap::before {
    width: 940px;
    height: 520px;
  }
  ._footer_finance_cont_p {
    max-width: 50%;
  }
  ._footer_finance_logo_p {
    max-width: 86%;
  }
}
@media only screen and (max-width: 991px) {
  ._footer_finance_cont_t {
    max-width: 58%;
    font-size: 38px;
  }
  ._footer_finance_cont_p {
    max-width: 62%;
  }
  ._footer_finance_cont_wrap::before {
    width: 692px;
    height: 407px;
  }
  ._footer_finance_cont_wrap {
    margin: 0 0 160px;
  }
  ._footer_finance_bottom_wrap {
    padding: 0;
  }
  ._footer_finance_logo_wrap {
    text-align: center;
    margin: 0 0 40px;
  }
  ._footer_finance_logo {
    margin: 0 auto 11px;
  }
  ._footer_finance_logo_p {
    max-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  ._footer_finance_wrapper {
    margin: 0 0 50px;
  }
  ._footer_finance_cont_t {
    max-width: 76%;
    font-size: 30px;
  }
  ._footer_finance_cont_p {
    max-width: 100%;
  }
  ._footer_finance_cont_wrap::before {
    width: 530px;
    height: 310px;
  }
  ._footer_finance_cont_wrap {
    margin: 0 0 100px;
  }
}
@media only screen and (max-width: 575px) {
  ._footer_finance_cont_btn1 {
    margin: 0 0 20px;
  }
  ._footer_finance_cont_btns {
    flex-direction: column;
  }
  ._footer_finance_cont_btn2 {
    margin: 0;
  }
}
@media only screen and (max-width: 420px) {
  ._footer_finance_cont_wrap::before {
    width: 390px;
    height: 225px;
  }
  ._footer_finance_cont_t {
    max-width: 100%;
    font-size: 28px;
  }
}
@media only screen and (max-width: 375px) {
  ._footer_finance_cont_t {
    max-width: 100%;
    font-size: 23px;
  }
  ._footer_finance_cont_wrap {
    margin: 0 0 80px;
  }
  ._footer_finance_cont_wrap::before {
    width: 290px;
    height: 160px;
  }
  ._footer_finance_cont_t {
    font-size: 25px;
  }
}
.new_footer_top {
  padding: 120px 0 270px;
  position: relative;
  overflow-x: hidden;
}
.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0;
}
.btn_get_two:hover {
  background: 0 0;
  color: #5e2ced;
}
.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn:focus,
.btn:hover,
a:focus,
a:hover,
button:focus,
button:hover {
  text-decoration: none;
  outline: 0;
}
.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5e2ced;
  border-color: #5e2ced;
  color: #fff;
}
.btn_get_two:hover {
  background: 0 0;
  color: #5e2ced;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4b505e;
}
.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png)
    no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}
.new_footer_top .footer_bg .footer_bg_one {
  background: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif)
    no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}
.new_footer_top .footer_bg .footer_bg_two {
  background: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif)
    no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}
@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
:root {
  --color1: #fff;
  --color2: #7a7d94;
  --color3: #f1f1f1;
  --color4: #8613f5;
  --color5: #3a3c46;
  --color6: #5d627e;
  --color7: #505060;
  --color8: #3ab8ad;
  --color9: #cfcfcf;
  --color10: #696a72;
  --color11: #f5eded;
  --color12: #f9f9f9;
  --color13: #f6f6f8;
  --color14: #9d9d9d;
  --color15: #f7f7f9;
  --color16: #d0d0d0;
  --color17: #4f515b;
  --color18: #494959;
  --color19: #1c1e2f;
  --color20: #828282;
  --bg1: #000;
  --bg2: #010109;
  --bg3: #0ec37d;
  --bg4: #14a36c;
  --bg5: #ffd33a;
  --bg6: #0e0f12;
  --bg7: #171920;
  --bg8: #020307;
  --bg9: #131722;
  --bg10: #131313;
  --bg11: #37375b;
  --bg-red: #e41616;
}
